<!DOCTYPE html>

<html ng-app="ModelsAndBottles">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
</head>
<body>
<div>
    @RenderBody()
</div>
    @RenderSection("JavascriptInHead", required: false)
</body>
</html>
